# Mac Stuff
*.DS_Store
*/sift-api

# Test stuff
/split_test*
**/test_data/hk_feedback*

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Sift-api binary (if GOBIN not set)
sift-api

# Folders
_obj
_test
src
pkg
bin

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
